@media only screen and (max-width: 1000px) {
    .sticky {
        height: 150px;
        width: 100%;
    }

    .colmenu {
        font-size: 1em;
    }

    body {
        width: 100%
    }

    .header {
        min-height: 100px;
        width: 100%
    }
}