@media only screen and (max-width: 1000px) {
    .sticky {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }

    .stickyScroll {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }

    .coltext {
        width: 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        margin: 0%;
        padding: 0;
    }

    .colimg {
        width: 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        margin: 0%;
        padding: 0;

    }

    .colmenu {
        font-size: 1em;
        width: 100%;
    }

    body {
        width: 100%
    }

    .header {
        min-height: 100px;
        width: 100%;
        overflow: hidden
    }

    .slide-right {
        animation: none;
        -webkit-animation: none;
    }

    .slide-left {
        animation: none;
        -webkit-animation: none;
    }

    #dlakogo {
        transform: translateX(0);
    }

    #dlakogophoto {
        transform: translateX(0);
    }

    #pocophoto {
        transform: translateX(0);
    }

    #poco {
        transform: translateX(0);
        padding: 0;
    }

    #zkim {
        transform: translateX(0);
    }

    #zkimphoto {
        transform: translateX(0);
    }

    #slider {
        width: 400%;
        transform: translateX(-70%)
    }

    .row {
        display: block
    }

    .colimg2 {
        display: block;
        width: 100%;
        margin: 0%;
        padding: 0;
    }
}